body {
  margin: 0;
}

.base {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
}

.topheader {
  user-select: none;
  font-size: 3rem;
  color: wheat;
}

.viewcomp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgb(11, 29, 51), rgb(16, 38, 66));
}

.topheader {
  margin-bottom: 1%;
}

#textshit {
  scrollbar-color: rgb(50, 74, 102) rgba(0, 0, 255, 0);
  scrollbar-width: thin;
  scrollbar-face-color: wheat;
  width: 90vh;
  display: flex;
  flex-direction: column;
}

#textshit .ProseMirror {
  background-color: white;
  border-radius: 2%;
  padding: 2%;
  font-size: 1.5rem;
  max-height: 64vh;
  min-height: 64vh;
  overflow: scroll;
  resize: none;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 50px 36px -28px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

#textshit .ProseMirror>p {
  margin: 0;
}

.icons>ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.icons>ul>li {
  cursor: pointer;
  user-select: none;
  font-size: 2.5rem;
  font-style: italic;
  color: rgb(1, 2, 3);
  transition: transform 0.3s ease;
}

.icons>ul>li:nth-child(1) {
  margin-top: 1%;
}

.icons>ul>li:nth-child(2) {
  margin-top: 1%;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(27, 70, 7, 0.5);
  border-radius: 8%;
  color: white;
  font-weight: 500;
  font-size: 1px;
  height: 3vh;
  padding: 1%;
  margin: 2%;
  margin-bottom: 1%;

  cursor: pointer;
  user-select: none;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.submit:hover {
  animation: button-an 0.1s ease-in both alternate;
}

#left {
  margin-top: 10%;
  width: 5vh;
  height: 5vh;
}

.github {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  height: 25px;
  width: 73px;
  font-size: 1.2rem;
  user-select: none;
  cursor: pointer;
  color: white;
  background-color: rgb(57, 148, 29);
  border-radius: 0 0 0 10%;
  text-decoration: none;
}

.github>a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.github>a:visited {
  color: white;
  text-decoration: none;
}

.github>a:active {
  color: white;
  text-decoration: none;
}

.github>a:hover {
  color: white;
  text-decoration: none;

}

#middle {
  margin-top: 10%;
  width: 5vh;
  height: 5vh;
}

#right {
  margin-top: 10%;
  width: 5vh;
  height: 5vh;
}

.icons>ul>li:hover {
  animation: button-an 0.1s ease-in both alternate;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75vh;
  border-radius: 1.5rem;
  height: 12vh;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 78vh;
  background-color: wheat;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

@keyframes button-an {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}